Body{  
	font-family: Calibri, Helvetica, sans-serif;  
	background-image: url('bg.png');  
}  

h1{
	color: Yellow;
}

label {
	color: White;
}

button{   
	background-color: Green;  
       	width: 10%;  
        color: White;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
}

form{   
	border: 3px solid Yellow;   
}   

input[type=text], input[type=password]{   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;
}  

button:hover {   
       	opacity: 0.7;   
}   

.container {   
        padding: 25px;   
        background-color: Black;  
}   