body {
  background-image: url('bg.png');
}

h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:Yellow;
  text-align: center; 
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:center; 
  background-color: Black; 
  border-collapse: collapse; 
  border: 2px solid Yellow
}
table.inner{
  border: 0px
}

button{   
	background-color: Green;  
       	width: 10%;  
        color: White;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
}

button:hover{   
	opacity: 0.7;   
}