.fa{
    line-height: 10px;
}

body{
    background-image: url(./bg.png);
    text-align: center;
    color: yellow;
}

.row{
    margin-left: 30%;
    float: r;
    margin-top: 1%;
    background-color: aqua;
    width: 40%;  
}

.top{
    color: Yellow;
    font-family: Calibri, Helvetica, sans-serif;
}
.mt-2{margin-top:.5rem!important}
li,h1{
    margin-left: 30%;
    float: r;
    margin-top: 1%;
    width: 40%;  
}
