body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	background-color: #d3d3d3;
}

h2 {
	margin: 0;
	padding: 50px;
	text-align: center;
	color: #ffef96;
	background-color: #50394c;
	font-family: 'Times New Roman', serif;
	font-size: 80px;
}

.exmp {
	text-align: center;
}

xmp {
	display: inline-block; 
	text-align: left;
}

a {
	margin: 50px;
	text-align: center;
}

.button {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	background-color: green;
	color: white;
	padding: 10px;
}